{% load static tailwind_tags %}
{% load bootstrap_icons %}

<section class="py-12 sm:py-16">
    <div class="container mx-auto flex flex-col lg:flex-row items-center px-4 sm:px-6">

        <!-- Image Section -->
        <div class="lg:w-1/2 flex justify-center mb-6 lg:mb-0">
            <img src="{% static 'img/Study.webp' %}" alt="Group Study"
                class="w-[80%] sm:w-[70%] md:w-[65%] lg:w-[75%] object-cover mr-auto">
        </div>

        <!-- Content Section -->
        <div class="lg:w-1/2 text-center lg:text-left">
            <h1 class="text-2xl sm:text-3xl md:text-4xl font-bold leading-snug text-gray-800" style="line-height: 1.2;">
                The Skills’ Tree<br class="hidden sm:block"> – Your Personalized <span
                    class="text-blue-600"> Learning Partner</span>
            </h1>
            <p class="text-gray-600 mt-4 text-sm sm:text-base md:text-lg">
                We specialize in <span class="text-blue-600">Math, ELA, Public Speaking, </span> and <span class="text-blue-600">competitive exam prep (SAT, Math Kangaroo) </span>
                for students in <span class="text-blue-600">Grades 1-10. </span>
            </p>

            
           
        </div>
    </div>
</section>