{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>About Us</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
</head>

<body class="bg-white leading-normal tracking-normal">

    {% include 'skills/navbar.html' %}

    {% include 'skills/AboutPage/heroAbout.html' %}

    {% include 'skills/AboutPage/whychooseskilltree.html' %}

    {% include 'skills/AboutPage/ourPrograme.html' %}

    {% include 'skills/AboutPage/learningSmarter.html' %}

    {% include 'skills/AboutPage/joinSkills.html' %}

    

    {% include 'skills/footer.html' %}




</body>

</html>