{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Contact Us</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
</head>

<body class="bg-white leading-normal tracking-normal">

    {% include 'skills/navbar.html' %}

    {% include 'skills/ContactPage/heroContact.html' %}

    {% include 'skills/ContactPage/personalizedLearning.html' %}

    {% include 'skills/ContactPage/getinTouch.html' %}

    {% include 'skills/ContactPage/form.html' %}

    {% include 'skills/ContactPage/connected.html' %}

    

   

    

    {% include 'skills/footer.html' %}




</body>

</html>